/* named the container class in the navigationBar.js. For the other class names, click on the name from inside the app and right click to use the developer tools and view the class names*/

.navigation_container{
background-color: var(--nav-color);
color: whtie
}

/* use the !important to reverse the color */

/* title of the nav links */  
.nav-link {
    color: var(--font-color) !important;
}

/* name in the nav */
.navbar-brand{
    color: var(--font-color) !important;
}
/* filter is a css property */

.navbar-toggler-icon{
    filter: invert(1); 

}

.links a:hover {
    background-color: var(--font-color-hover);
}

